{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load static %}
{% load widget_tweaks %}
{% block title %} password changed |{{block.super}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main class="container-section">
    <div class="container-wrapper">
        <div class="meta">
            <h1 class="title-section">{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %}</p>
        </div>
    <div>
</main>
{% endblock %}
