{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %} password set | {{block.super}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% for field in form.visible_fields %}
           {{ field.label_tag }}
             <p>{{ field.errors }}</p>
             {{ field|add_class:'input-main' }}
             {{ field.help_text }}
        {% endfor %}
        <input type="submit" name="action" class="button mb-1 mt-2"
        value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
