{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load static %}

{% load widget_tweaks %}

{% block title %} password action | {{block.super}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}



{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block search %}
{% endblock%}
{% block content %}
<main class="container-section">
    <div class="container-wrapper">
        <div class="meta">
            <h1 class="title-section">
                {% trans "Password Reset" %}
            </h1>

        </div> <!--end post-meta-->
        <!-- <hr> -->
        <div class="content-body">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                 <!-- form }} -->
                {% if form.errors %}
                    <p class="alert">{{form.errors}}</p>
                {% endif %}
                {% for field in form.visible_fields %}
                   {{ field.label_tag }}
                     <p class="alert">{{ field.errors }}</p>
                     {{ field|add_class:'input-main'}}
                     {{ field.help_text }}
                {% endfor %}
                <input type="submit" value="{% trans 'Reset My Password' %}" class="button mt-2"/>
            </form>
        </div>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    </div>
</main>
{% endblock %}
