{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %} password reset |{{block.super}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main class="container-section">
    <div class="container-wrapper">
        <div class="meta">
            <h1 class="title-section">
    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                   {{ field.label_tag }}
                     <p>{{ field.errors }}</p>
                     {{ field|add_class:'input-main' }}
                     {{ field.help_text }}
                {% endfor %}
                <input type="submit" name="action" class="button mb-1 mt-2"
                value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
    </div>
</main>
{% endblock %}
