{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %} password change |{{block.super}}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main class="container-section">
    <div class="container-wrapper">
        <div class="meta">
            <h1 class="title-section">
                <h1>{% trans "Change Password" %}</h1>
            </h1>

        </div> <!--end post-meta-->
        <!-- <hr> -->
        <div class="content-body">
            <!-- url to the same view -->
                <form method="post" action="{% url 'account_change_password' %}"  class="form-main"">
                {% csrf_token %}
                <!-- if form.errors %}
                    <p class="red">form.errors}}</p>
                 endif %} -->
                {% for field in form.visible_fields %}
                   {{ field.label_tag }}
                     <p>{{ field.errors }}</p>
                     {{ field|add_class:'input-main' }}
                     {{ field.help_text }}
                {% endfor %}
                <button type="submit" class="button mb-1 mt-2" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div><!--end .post-wrapper-->
</main>
    <!--end main .post-section-->
    <!-- set tags  for a particular post -->
{% endblock %}
