{% extends 'base.html' %}
{% load static %}
{% load bootstrap4form %}

{% block title %}{{headline}} | {{block.super}}{% endblock %}

{% block content %}


<div class="book-info">
    <div class="cards-list">
        <!--        here comes a form     -->
        <form role="form" action="" method="POST">
            <legend> You can {{headline}} your book</legend>
            {% include '_forms/generic_book_form.html' %}
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

