{% extends 'base.html' %}
{% load static %}

{% block content %}

<h3>Info about </h3>
<div class="book-info">
    <div class="cards-list">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <h5 class="card-title">Owner: {{book.owner}}</h5>
                <h5 class="card-title">On sale sinds: {{book.created_at}}</h5>
                <h5 class="card-title">Author(s):
                    {% for author in book.authors.all %}
                        <span>{{author}}</span>
                    {% endfor %}
                </h5>
                <p class="card-text">{{book.description}}</p>
                <strong class="card-text">Price: ${{book.price}}</strong>
            </div>
        </div>
    </div>
</div>


{% endblock %}