body {
    background-color:#f3dab4;
}
.card{
    margin:1rem;
}
.cards-list{
    display:flex;
    flex-direction:column;
    justify-items:space-between;

}
.book-info{
    display:flex;
}


.sidenav {
			height:100%;
			width:260px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:#e6c6c6;
			overflow-x: :hidden;
			padding-top:20px;
		}

		.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:25px;
			color: black;
			display:block;
		}

		.sidenav a:hover{
			color:#117a8b;
		}

		.main{
			margin-left:160px;
			padding: 0px 10px;
		}
